{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "es5",
    "singleQuote": true,
    "useTabs": false,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": [
                "./package.json",
                "apps/web/package.json",
                "apps/admin-v2/package.json",
                "apps/landing/package.json",
                "apps/desktop-web/package.json"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
