@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:
        'Pretendard Variable',
        'Pretendard',
        -apple-system,
        BlinkMacSystemFont,
        'Apple SD Gothic Neo',
        Roboto,
        'Noto Sans KR',
        'Segoe UI',
        'Malgun Gothic',
        sans-serif;
    height: 100vh;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222 84% 5%;
        --point: #6366f1;
        --gray-50: #fafafa;
        --gray-100: #f5f5f5;
        --gray-200: #eeeeee;
        --gray-300: #e0e0e0;
        --gray-400: #bdbdbd;
        --gray-500: #9e9e9e;
        --gray-600: #757575;
        --gray-700: #616161;
        --gray-800: #424242;
        --gray-900: #222222;
    }
}
