@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:
        'Pretendard Variable',
        'Pretendard',
        -apple-system,
        BlinkMacSystemFont,
        'Apple SD Gothic Neo',
        Roboto,
        'Noto Sans KR',
        'Segoe UI',
        'Malgun Gothic',
        sans-serif;
    height: 100vh;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222 84% 5%;
        /* DoU Design Guide Colors */
        --point: #c4ff00;
        --point-hover: #b3e600;
        --black-01: #191d31;
        --bk-900: #222325;
        --bk-700: #53555b;
        --bk-600: #84888f;
        --bk-500: #9fa2a7;
        --bk-400: #babcc0;
        --bk-300: #cfd0d3;
        --bk-200: #dfe0e2;
        --bk-100: #eaeaec;
        --bk-50: #f4f5f5;
    }
}
