VITE_ENV=LOCAL
VITE_PROJECT=CHATIC_ADMIN
VITE_OAUTH_ENDPOINT=https://api.example.com/oauth
VITE_HOST=http://localhost:5001
VITE_SOCIAL_OAUTH_ENDPOINT=https://oauth2.example.com
VITE_IMAGE_API_ENDPOINT=https://image.lemoncloud.io
VITE_BACKEND_ENDPOINT=https://api.example.com
