VITE_ENV=LOCAL
VITE_PROJECT=CHATIC
VITE_OAUTH_ENDPOINT=https://api.example.com/d1
VITE_HOST=http://localhost:5001
VITE_SOCIAL_OAUTH_ENDPOINT=https://oauth2.example.com
VITE_IMAGE_API_ENDPOINT=https://image.example.com
VITE_BACKEND_ENDPOINT=https://api.example.com/d1
VITE_WS_ENDPOINT=wss://wss.example.com/cht-d1
VITE_DOU_ENDPOINT=https://api.example.com/dou-d1
