VITE_ENV=DEV
VITE_WEBVIEW_BASE_URL=
VITE_WS_ENDPOINT=
VITE_SUBSCRIPTION_IAP_SKUS_IOS=
VITE_SUBSCRIPTION_IAP_SKUS_ANDROID=
VITE_SUBSCRIPTION_IAP_PLANS_ANDROID=
VIEW_APP_NAME=DoU_Dev
VITE_GOOGLE_WEB_CLIENT_ID=

# Android Keystore
ANDROID_KEYSTORE_FILE=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=
